/* To style: font, hover, animation for clicking buttons, calculator outline */

#main-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 100px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.buttons {
    border-radius: 25px;
    background: green;
    padding: 30px;
    box-shadow: 2px 4px black;

}

.buttons:hover {
    box-shadow: -10px -10px 20px white inset;
    translate: 2px 4px;
}

.buttons:click {
    box-shadow: 0px 0px;
    translate: 5px 10px;
}

.display {
    grid-area: 1 / 1 / span 1 / span 3;
    border: 2px solid green;
    border-radius: 25px;
    padding: 20px;
}

